<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.swipingapp">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".extensions.App"
        android:fullBackupContent="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity android:name=".activities.account.LoginActivity"/>
        <activity
            android:name=".activities.main.MainActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <!-- Deep linking -->
                <!-- TODO: set the right path -->
                <data
                    android:scheme="http"
                    android:host="www.tap-it.com"/>
                <data
                    android:scheme="http"
                    android:host="tap-it.com"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.account.RegisterActivity" />
        <activity android:name=".activities.about.TermsAndConditionsActivity" />

    </application>

</manifest>
